// => Onboard Clock
// IO_LOC "CLK27MHZ" H11;
// IO_PORT "CLK27MHZ" IO_TYPE=LVCMOS33;

// => Reset Pin
// IO_LOC "BTN_RST_N" T10;
// IO_PORT "BTN_RST_N" IO_TYPE=LVCMOS33;

// => Buttons
// IO_LOC "BTN_S1" T3;
// IO_PORT "BTN_S1" IO_TYPE=LVCMOS33;
// IO_LOC "BTN_S2" T2;
// IO_PORT "BTN_S2" IO_TYPE=LVCMOS33;
// IO_LOC "BTN_S3" D7;
// IO_PORT "BTN_S3" IO_TYPE=LVCMOS33;
// IO_LOC "BTN_S4" C7;
// IO_PORT "BTN_S4" IO_TYPE=LVCMOS33;

// => Switches
// IO_LOC "SW1" E9;
// IO_PORT "SW1" IO_TYPE=LVCMOS33;
// IO_LOC "SW2" E8;
// IO_PORT "SW2" IO_TYPE=LVCMOS33;
// IO_LOC "SW3" T4;
// IO_PORT "SW3" IO_TYPE=LVCMOS33;
// IO_LOC "SW4" T5;
// IO_PORT "SW4" IO_TYPE=LVCMOS33;

// => LEDs
// IO_LOC "LED0" C13;
// IO_PORT "LED0" IO_TYPE=LVCMOS33;
// IO_LOC "LED1" A13;
// IO_PORT "LED1" IO_TYPE=LVCMOS33;
// IO_LOC "LED2" N16;
// IO_PORT "LED2" IO_TYPE=LVCMOS33;
// IO_LOC "LED3" N14;
// IO_PORT "LED3" IO_TYPE=LVCMOS33;
// IO_LOC "LED4" L14;
// IO_PORT "LED4" IO_TYPE=LVCMOS33;
// IO_LOC "LED5" L16;
// IO_PORT "LED5" IO_TYPE=LVCMOS33;

// => UART
// IO_LOC "UART_TX" M11;
// IO_PORT "UART_TX" IO_TYPE=LVCMOS33;
// IO_LOC "UART_RX" T13;
// IO_PORT "UART_RX" IO_TYPE=LVCMOS33;

// => Audio DAC
// IO_LOC "AUDIO_PA_EN" R16;
// IO_PORT "AUDIO_PA_EN" IO_TYPE=LVCMOS33;
// IO_LOC "AUDIO_HP_DIN" P15;
// IO_PORT "AUDIO_HP_DIN" IO_TYPE=LVCMOS33;
// IO_LOC "AUDIO_HP_WS" P16;
// IO_PORT "AUDIO_HP_WS" IO_TYPE=LVCMOS33;
// IO_LOC "AUDIO_HP_BCK" N15;
// IO_PORT "AUDIO_HP_BCK" IO_TYPE=LVCMOS33;

// => SD Card / SDIO
// IO_LOC "SD_CLK" N10;
// IO_PORT "SD_CLK" IO_TYPE=LVCMOS33;
// IO_LOC "SD_CMD" R14;
// IO_PORT "SD_CMD" IO_TYPE=LVCMOS33;
// IO_LOC "SD_DAT0" M8;
// IO_PORT "SD_DAT0" IO_TYPE=LVCMOS33;
// IO_LOC "SD_DAT1" M7;
// IO_PORT "SD_DAT1" IO_TYPE=LVCMOS33;
// IO_LOC "SD_DAT2" M10;
// IO_PORT "SD_DAT2" IO_TYPE=LVCMOS33;
// IO_LOC "SD_DAT3" N11;
// IO_PORT "SD_DAT3" IO_TYPE=LVCMOS33;
// IO_LOC "SD_DET_A" D15;
// IO_PORT "SD_DET_A" IO_TYPE=LVCMOS33;

// => LCD Display (SPI)
// IO_LOC "LCD_BL" P12;
// IO_LOC "LCD_BL" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_DATA" L15;
// IO_LOC "LCD_DATA" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_RS" J13;
// IO_LOC "LCD_RS" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_CS" C16;
// IO_LOC "LCD_CS" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_CLK" F12;
// IO_LOC "LCD_CLK" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_RESETN" G13;
// IO_LOC "LCD_RESETN" IO_TYPE=LVCMOS33;

// => LCD Display (Parallel)
// IO_LOC "LCD_R[0]" L9; 
// IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_R[1]" N8; 
// IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_R[2]" N9; 
// IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_R[3]" N7; 
// IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_R[4]" N6; 
// IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_R[G]" D11;
// IO_PORT "LCD_R[G]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_G[1]" A11;
// IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_G[2]" B11;
// IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_G[3]" P7; 
// IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_G[4]" R6; 
// IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_G[5]" D10;
// IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_B[0]" B12;
// IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_B[1]" C12;
// IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_B[2]" B13;
// IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_B[3]" A14;
// IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_B[4]" B14;
// IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_CLK" R9; 
// IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_HSYNC" A15;
// IO_PORT "LCD_HSYNC" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_VSYNC" D14;
// IO_PORT "LCD_VSYNC" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_DE" E15;
// IO_PORT "LCD_DE" IO_TYPE=LVCMOS33;
// IO_LOC "LCD_BL" E10;
// IO_PORT "LCD_BL" IO_TYPE=LVCMOS33;
// IO_LOC "TP_SDA" F14;
// IO_PORT "TP_SDA" IO_TYPE=LVCMOS33;
// IO_LOC "TP_SCK" F16;
// IO_PORT "TP_SCK" IO_TYPE=LVCMOS33;
// IO_LOC "TP_INT" C11;
// IO_PORT "TP_INT" IO_TYPE=LVCMOS33;
// IO_LOC "TP_RST" A12;
// IO_PORT "TP_RST" IO_TYPE=LVCMOS33;

// => Camera
// IO_LOC "CAM_SCK" F14;
// IO_PORT "CAM_SCK" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_SDA" F16;
// IO_PORT "CAM_SDA" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_VSYNC" G15;
// IO_PORT "CAM_VSYNC" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_HREF" G14;
// IO_PORT "CAM_HREF" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_PCLK" F13;
// IO_PORT "CAM_PCLK" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_XCLK" G12;
// IO_PORT "CAM_XCLK" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_RST_N" L13;
// IO_PORT "CAM_RST_N" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_PWDN" C10;
// IO_PORT "CAM_PWDN" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[0]" T12;
// IO_PORT "CAM_DB[0]" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[1]" T11;
// IO_PORT "CAM_DB[1]" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[2]" P11;
// IO_PORT "CAM_DB[2]" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[3]" R11;
// IO_PORT CAM_DB[3]"" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[4]" M15;
// IO_PORT "CAM_DB[4]" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[5]" M14;
// IO_PORT "CAM_DB[5]" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[6]" J16;
// IO_PORT "CAM_DB[6]" IO_TYPE=LVCMOS33;
// IO_LOC "CAM_DB[7]" J14;
// IO_PORT "CAM_DB[7]" IO_TYPE=LVCMOS33;

// => USB
// IO_LOC "USB_STP" K11;
// IO_PORT "USB_STP" IO_TYPE=LVCMOS33;
// IO_LOC "USB_RST" F10;
// IO_PORT "USB_RST" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[7]" R12;
// IO_PORT "USB_DATA[7]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[6]" P13;
// IO_PORT "USB_DATA[6]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[5]" R13;
// IO_PORT "USB_DATA[5]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[4]" T14;
// IO_PORT "USB_DATA[4]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[3]" H13;
// IO_PORT "USB_DATA[3]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[2]" J12;
// IO_PORT "USB_DATA[2]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[1]" H12;
// IO_PORT "USB_DATA[1]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DATA[0]" G11;
// IO_PORT "USB_DATA[0]" IO_TYPE=LVCMOS33;
// IO_LOC "USB_NXT" K13;
// IO_PORT "USB_NXT" IO_TYPE=LVCMOS33;
// IO_LOC "USB_DIR" K12;
// IO_PORT "USB_DIR" IO_TYPE=LVCMOS33;
// IO_LOC "USB_CLK" T15;
// IO_PORT "USB_CLK" IO_TYPE=LVCMOS33;
// IO_LOC "USB_RST_N" T3;
// IO_PORT "USB_RST_N" IO_TYPE=LVCMOS33;

// => Ethernet
// IO_LOC "ETH_PHYRST" F1O;
// IO_PORT "ETH_PHYRST" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_CLK50MHZ" A9;
// IO_PORT "ETH_CLK50MHZ" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_TXD[0]" D16;
// IO_PORT "ETH_TXD[0]" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_TXD[1]" E14;
// IO_PORT "ETH_TXD[1]" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_TXEN" E16;
// IO_PORT "ETH_TXEN" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_RX_CRS" M6;
// IO_PORT "ETH_RX_CRS" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_RXD[0]" F15;
// IO_PORT "ETH_RXD[0]" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_RXD[1]" C9;
// IO_PORT "ETH_RXD[1]" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_MDC" F14;
// IO_PORT "ETH_MDC" IO_TYPE=LVCMOS33;
// IO_LOC "ETH_MDIO" F16;
// IO_PORT "ETH_MDIO" IO_TYPE=LVCMOS33;

// => DDR
// IO_LOC "DDR_BANK[0]" H4;
// IO_PORT "DDR_BANK[0]" IO_TYPE=SSTL15;
// IO_LOC "DDR_BANK[1]" D3;
// IO_PORT "DDR_BANK[1]" IO_TYPE=SSTL15;
// IO_LOC "DDR_BANK[2]" H5;
// IO_PORT "DDR_BANK[2]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ODT" R3;
// IO_PORT "DDR_ODT" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[0]" F7;
// IO_PORT "DDR_ADDR[0]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[1]" A4;
// IO_PORT "DDR_ADDR[1]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[2]" D6;
// IO_PORT "DDR_ADDR[2]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[3]" F8;
// IO_PORT "DDR_ADDR[3]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[4]" C4;
// IO_PORT "DDR_ADDR[4]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[5]" E6;
// IO_PORT "DDR_ADDR[5]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[6]" B1;
// IO_PORT "DDR_ADDR[6]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[7]" D8;
// IO_PORT "DDR_ADDR[7]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[8]" A5;
// IO_PORT "DDR_ADDR[8]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[9]" F9;
// IO_PORT "DDR_ADDR[9]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[10]" K3;
// IO_PORT "DDR_ADDR[10]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[11]" B7;
// IO_PORT "DDR_ADDR[11]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[12]" A3;
// IO_PORT "DDR_ADDR[12]" IO_TYPE=SSTL15;
// IO_LOC "DDR_ADDR[13]" C8;
// IO_PORT "DDR_ADDR[13]" IO_TYPE=SSTL15;
// IO_LOC "DDR_CKE" J2;
// IO_PORT "DDR_CKE" IO_TYPE=SSTL15;
// IO_LOC "DDR_WE" L2;
// IO_PORT "DDR_WE" IO_TYPE=SSTL15;
// IO_LOC "DDR_CAS" R6;
// IO_PORT "DDR_CAS" IO_TYPE=SSTL15;
// IO_LOC "DDR_RAS" R4;
// IO_PORT "DDR_RAS" IO_TYPE=SSTL15;
// IO_LOC "DDR_DM[0]" G1;
// IO_PORT "DDR_DM[0]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DM[1]" K5;
// IO_PORT "DDR_DM[1]" IO_TYPE=SSTL15;
// IO_LOC "DDR_CK" J1,J3;
// IO_PORT "DDR_CK" IO_TYPE=SSTL15;
// IO_LOC "DDR_RESET_N" B9;
// IO_PORT "DDR_RESET_N" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQS[0]" G2,G3;
// IO_PORT "DDR_DQS[0]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQS[1]" J5,K6;
// IO_PORT "DDR_DQS[1]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[0]" G5;
// IO_PORT "DDR_DQ[0]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[1]" F5;
// IO_PORT "DDR_DQ[1]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[2]" F4;
// IO_PORT "DDR_DQ[2]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[3]" F3;
// IO_PORT "DDR_DQ[3]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[4]" E2;
// IO_PORT "DDR_DQ[4]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[5]" C1;
// IO_PORT "DDR_DQ[5]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[6]" E1;
// IO_PORT "DDR_DQ[6]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[7]" B3;
// IO_PORT "DDR_DQ[7]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[8]" M3;
// IO_PORT "DDR_DQ[8]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[9]" K4;
// IO_PORT "DDR_DQ[9]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[10]" N2;
// IO_PORT "DDR_DQ[10]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[11]" L1;
// IO_PORT "DDR_DQ[11]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[12]" P4;
// IO_PORT "DDR_DQ[12]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[13]" H3;
// IO_PORT "DDR_DQ[13]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[14]" R1;
// IO_PORT "DDR_DQ[14]" IO_TYPE=SSTL15;
// IO_LOC "DDR_DQ[15]" M2;
// IO_PORT "DDR_DQ[15]" IO_TYPE=SSTL15;
// IO_LOC "DDR_CS" P5;
// IO_PORT "DDR_CS" IO_TYPE=SSTL15;
